/* body#works .ourServices,
body#about .aboutUs,
body#contact .contactUs {
    margin-top: 100px;
} */
body{
    overflow-x: hidden;
}

body#works .header,
body#about .header,
body#contact .header {
    top: 0;
}
.aboutUs p > i {
    margin-right: 10px;
}

#works .serviceRow {
    margin:30px 0;
}
body#about .aboutUs {
    background: #fff;
}
.ourTeam {
    margin-top: 70px;
}
.map iframe {
    width: 100%;
}
img.profileImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #428e8f;
}

.profileBlock {
    text-align: center;
}
.profileBlock h6 {
    margin-top: 10px;
}
.profileBlock {
    width: 25%;
    padding:15px;
}

.servicesWrapper {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 420px;
    overflow: hidden;
    margin-top: 15px;
}
.servicesWrapper:hover img {
    display: none;
}
img.serivceImages {
    width: 250px;
    height: 250px;
    margin: 10px auto;
    display: flex;
}

.servicesWrapper p {
    text-align: center;
    margin-top: 10px;
}

.servicesWrapper h5 {
    text-align: center;
}
.servicesWrapper:hover p {
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transform: translateY(-5%);
    -webkit-transition: -webkit-transform 1.2s;
    -moz-transition: -moz-transform 1.2s;
    -o-transition: -o-transform 1.2s;
    -ms-transition: -ms-transform 1.2s;
    transition: transform 1.2s;
}
.servicesWrapper:hover img {
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -ms-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    outline: 0 !important;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #0d3c70;
    color: #fff;
  }
  
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 25px;
    border: 1px solid #ccc;
    border-top: none;
    width:100%;
    text-align: center;
  }
  .tabcontent.active {
    display: block;
  }
  button.tablinks {
    width: 33%;
    border: 1px solid #ccc;
    font-size: 25px;
    font-weight: bold;
}
.servicesWrap {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    margin: 15px 0px;
}


@media(max-width:992px){
    .profileBlock {

        width: 100%;
        margin: 40px 0;
    }

    .servicesWrapper {
        max-width: 100% !important;
    }
}